:root {
    --main-gap: 10px;
	--main-color: #3498db;
    --bg-color: #ffffff;
    --spacing: 10px;
	--sec-color:#1c777693;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Finlandica", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	color: #b9b9b9;
	text-align: center;
}

.contenedor {
	max-width: 800px;
	margin: 0 auto;
	background-color: var(--bg-color);
	padding: var(--spacing);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#inicio {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.6), var(--sec-color)), url("../img/Negra.jpeg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.titulos {
	text-align: center;
	color: #fff;
	margin: auto;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	gap: var(--main-gap);
	padding: var(--spacing);
}

nav ul li a {
	text-decoration: none;
	color: var(--bg-color);
	font-size: 1.2rem;
	padding: var(--spacing);
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

nav ul li a:hover {
	background-color: var(--main-color);
	color: var(--bg-color);
}

#carrusel-contenedor {
	width: 100%;
	overflow: hidden;
	background-color: var(--bg-color);
	padding: var(--spacing);
}

.carrusel-pista {
	display: flex;
	width: calc(250px * 8 + 20px * 8);
	gap: var(--main-gap);
	margin: var(--spacing);
	animation: deslizar 10s linear infinite;
}

.carrusel-pista:hover {
	animation-play-state: paused;
}

.carrusel-pista img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 15px;
}

.contenedor-mision {
	display: flex;
	justify-content: center;
	gap: var(--main-gap);
	padding: var(--spacing);
	background-color: var(--bg-color);
}

.tarjeta-info {
	background-color: var(--sec-color);
	padding: var(--spacing);
	border-radius: 10px;
	width: 40%;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tarjeta-info h3 {
	color: var(--sec-color);
	margin-bottom: 15px;
}

.contenedor-catalogo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: var(--main-gap);
	padding: var(--spacing);
}

.tarjeta-animal {
	display: flex;
	flex-direction: column;
	gap: var(--main-gap);
	margin: var(--spacing);
	border: 5px solid var(--sec-color);
	border-radius: 8px;
	text-align: center;
	transition: transform 0.3s ease, background 0.3s ease;
}

.tarjeta-animal:hover {
	transform: translateY(-10px);
	background: linear-gradient(to right, var(--main-color), var(--sec-color));
}

.tarjeta-animal img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 8px;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--sec-color);
	color: var(--bg-color);
	padding: 20px 0;
	margin-top: 40px;
	gap: var(--main-gap);
}

.formulario-contacto {
	display: flex;
	flex-direction: column;
	gap: var(--main-gap);
	margin: var(--main-gap) auto;
	max-width: 500px;
	border: var(--sec-color) solid 5px;
	border-radius: 10px;
}

.grupo-formulario {
	display: flex;
	flex-direction: column;
	gap: var(--main-gap);
	padding: var(--spacing);
}

input, select, textarea {
	width: 100%;
	padding: var(--spacing);
	border: 1px solid var(--sec-color);
	border-radius: 5px;
	font-size: 1rem;
}

button {
	padding: var(--spacing);
	border: none;
	border-radius: 5px;
	background-color: var(--main-color);
	color: var(--bg-color);
	font-size: 1rem;
	cursor: pointer;
	margin: var(--spacing) auto;
	transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--sec-color);
}

@media (max-width: 600px) {
    .contenedor-mision, footer {
		flex-direction: column;
		align-items: center;
		gap: var(--main-gap);
	}

	.tarjeta-info {
		width: 50%;
	}

	nav ul {
		display: flex;
	}
}

@media (min-width: 601px) and (max-width: 1024px) {
    .contenedor-catalogo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
		gap: var(--main-gap);
    }

	nav ul {
		display: flex;
	}

}

@media (min-width: 1025px) {
    .contenedor-catalogo {
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        justify-content: center; 
        gap: var(--main-gap);
    }

	nav ul {
		display: flex;
		gap: var(--main-gap);
	}

}

@keyframes deslizar {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-1000px - 80px));
	}
}